:root {

    --cor-bg-principal: #4263EB;
    --cor-bg-principal2: #364FC7;

    --cor-gray: #0A0C0D;
    --cor-gray1: #212529;
    --cor-gray2: #495057;
    --cor-gray3: #868E96;
    --cor-gray4: #DEE2E6;
    --cor-grayopacity: rgba(33, 37, 41, 0.5);
    --cor-White: #FFFFFF;

    --cor-Like: #D7443E;

}